<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>ClientManagement</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuCore" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuLocalization" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Core" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Core.Assets" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Core.UI" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Core.View" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Diagnostics" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.JQueryUI" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Media" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Navigation" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.QuickStart" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.QuickStart.Spark" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.RavenDb" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.SlickGrid" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Spark" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.StructureMap" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuMVC.Validation" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuPersistence" Mode="Float" Stability="Anything" />
    <Dependency Name="FubuValidation" Mode="Float" Stability="Anything" />
    <Dependency Name="HtmlTags" Mode="Float" Stability="Anything" />
    <Dependency Name="RavenDB.Client" Mode="Float" Stability="Anything" />
    <Dependency Name="RavenDB.Database" Mode="Float" Stability="Anything" />
    <Dependency Name="RavenDB.Embedded" Mode="Float" Stability="Anything" />
    <Dependency Name="Spark" Mode="Float" Stability="Anything" />
    <Dependency Name="structuremap" Mode="Float" Stability="Anything" />
    <Dependency Name="WebActivator" Version="1.1.0.0" Mode="Fixed" Stability="Anything" />
  </Nugets>
</ripple>