<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>ClientManagement</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles.Services" Mode="Float" />
    <Dependency Name="BottleServiceRunner" Mode="Float" />
    <Dependency Name="FubuCore" Mode="Float" />
    <Dependency Name="FubuLocalization" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets" Mode="Float" />
    <Dependency Name="FubuMVC.Core.UI" Mode="Float" />
    <Dependency Name="FubuMVC.Core.View" Mode="Float" />
    <Dependency Name="FubuMVC.Diagnostics" Mode="Float" />
    <Dependency Name="FubuMVC.JQueryUI" Mode="Float" />
    <Dependency Name="FubuMVC.Less" Mode="Float" />
    <Dependency Name="FubuMVC.Media" Mode="Float" />
    <Dependency Name="FubuMVC.Navigation" Mode="Float" />
    <Dependency Name="FubuMVC.RavenDb" Mode="Float" />
    <Dependency Name="FubuMVC.SlickGrid" Mode="Float" />
    <Dependency Name="FubuMVC.Spark" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Mode="Float" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Mode="Float" />
    <Dependency Name="FubuMVC.Validation" Mode="Float" />
    <Dependency Name="FubuPersistence" Mode="Float" />
    <Dependency Name="FubuTestingSupport" Mode="Float" />
    <Dependency Name="FubuValidation" Mode="Float" />
    <Dependency Name="HtmlTags" Mode="Float" />
    <Dependency Name="Newtonsoft.Json" Mode="Float" />
    <Dependency Name="NUnit" Mode="Float" />
    <Dependency Name="RavenDB.Client" Version="2.0.2230" Mode="Fixed" />
    <Dependency Name="RavenDB.Database" Version="2.0.2230" Mode="Fixed" />
    <Dependency Name="RavenDB.Embedded" Version="2.0.2230" Mode="Fixed" />
    <Dependency Name="RavenDB.Server" Version="2.0.2230" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Spark" Mode="Float" />
    <Dependency Name="Storyteller2" Mode="Float" />
    <Dependency Name="StructureMap" Mode="Float" />
    <Dependency Name="StructureMap.AutoMocking" Version="2.6.3.0" Mode="Fixed" />
    <Dependency Name="WebActivator" Version="1.1.0.0" Mode="Fixed" />
  </Nugets>
  <Groups />
</ripple>