Bottles
Castle.Core
DotNetZip
FubuCore
FubuLocalization
FubuMVC.Ajax
FubuMVC.ContentExtensions
FubuMVC.Core
FubuMVC.Katana
FubuMVC.Localization
FubuMVC.Media
FubuMVC.Navigation
FubuMVC.OwinHost
FubuMVC.PersistedMembership
FubuMVC.RavenDb
FubuMVC.SelfHost
FubuMVC.StructureMap
FubuPersistence
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
NUnit
Newtonsoft.Json
Owin
Owin.Extensions
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Spark
Storyteller2
structuremap