Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Diagnostics
FubuMVC.JQueryUI
FubuMVC.Media
FubuMVC.Navigation
FubuMVC.RavenDb
FubuMVC.SlickGrid
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.TwitterBootstrap
FubuMVC.Validation
FubuPersistence
FubuTestingSupport
FubuValidation
HtmlTags
Newtonsoft.Json
NUnit
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
RavenDB.Server
RhinoMocks
Spark
StructureMap
StructureMap.AutoMocking
WebActivator
